@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap');

#mapimgtablet, #mapimgdesktop{
    display:none;
}
#mapimgmobile{
    width:100%;
    vertical-align: bottom; /* es rato */
}

.buttoncontainer{
    position:absolute;
    top:0;
}

.locationbutton{
    position:relative;
    width:208px;
    height:72px;
    display:block;
    font-family:"Big Shoulders Display";
    font-size:20px;
    font-weight:800;
    background-color: #151515;
    color:white;
    letter-spacing: 3.64px;
    line-height:72px;
    text-decoration: none;
    text-align:center;
    margin-left:56px;
}
.buttonimage{
    position:absolute;
    width:56px;
    height:72px;
    background-image: url(assets/icon-arrow-left.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #D5966C;
    right:208px;
}

section{
    background-color:rgba(21, 21, 21, 1);
    color:white;
    padding: 48px 16px 56px 16px;
}

section h1, section h2{
    font-family:"Big Shoulders Display";
    font-weight: 900;
}

section h1{
    font-size:50px;
}

section h2{
    margin-top:48px;
    font-size:32px;
    color:rgba(213, 150, 108, 1);
}

p{
    font-family: "Outfit";
    line-height: 28px;
}

section p{
    margin-top:20px;
}

footer{
    background-color:rgba(213, 150, 108, 1);
    padding:48px 32px 48px 32px;
}

footer p{
    font-size:16px;
    line-height:26px;
    margin-top:38px;
    color: rgba(21, 21, 21, 1);
}

footer a img{ 
    filter: brightness(0) saturate(100%);
    margin-top: 38px;
    margin-right:20px; 
}

.buttoncontainer:hover .locationbutton{
    background-color:#D5966C;
} 

.buttoncontainer:hover .buttonimage{
    background-color:rgba(21, 21, 21, 1);
}

footer a img:hover{
    filter:unset;
}

@media only screen and (min-width: 768px) {
    #mapimgmobile, #mapimgdesktop{
        display:none;
    }
    #mapimgtablet{
        display:unset;
        vertical-align: bottom; 
        width:100%;
    }

    .buttoncontainer{
        left:5%;
    }

    section{
        display:flex;
        padding: 88px 40px 80px 39px;
    }
    
    section h1{
        width:223px;
        font-size:55px;
        line-height:50px;
    }
    
    section h2{ 
        margin-top:0px;  
    }
    .address{
        display:flex;
        flex-direction: column;
        margin-left:68px;
    }
    
    p{  
        font-size:18px; 
    } 
    section p{   
        margin-top:20px; 
    }
    footer{
        display:flex;
        flex-direction: row;
        padding:56px 40px 56px 39px;
    }
    #logo{
        height:100%;
    }
    footer p{
        margin-left:64px;
        max-width:37%;
        margin-top:0px; 
        color: rgba(21, 21, 21, 1);
    }
    
    footer a img{ 
        margin-top: 0px; 
    }
    .socialphotos{
        margin-left:133px; 
    }
}

@media only screen and (min-width: 1439px) {
    #mapimgmobile, #mapimgtablet{
        display:none;
    }
    #mapimgdesktop{
        display:unset;
        vertical-align: bottom; 
        width:100%; 
    }

    .buttoncontainer{
        left:11%;  
    }
    section{
        padding: 104px 165px 128px 165px; 
    }

    section h1{
        width:350px; 
        font-size:70px;
        line-height:70px;
    }
    
    section h2{ 
        font-size:36px;
        line-height:36px;
    }

    .address{
        margin-left:30%;  
    }
    
    p{ 
        font-size:22px;
        line-height:32px; 
    } 
    section p{     
        margin-top:24px;     
    }

    footer{
        padding:80px 165px 80px 165px; 
    }
    
    #logo{
        width:160px; 
    }
    footer p{
        margin-left:140px; 
        max-width:37%;
        font-size:18px;
        line-height:28px;
    }
    
    .socialphotos{
        display:flex; 
        margin-left:30%;   
    }
}